<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Bhilwara Infotech</title>
      
 <link rel="stylesheet" href="style.css">
 </head>
 <body>
      <table width="100%">
          <tr width="100%">
              <td width="20%" align="center"><img src="bhil6.png" alt="Bilwara infotech" height="20%" title="Bhilwara Infotech" ></td>
              <td width="80%"  align="center" colspan="2" style="font-size:40px; font-weight:bold;" height="10%">Bhilwara Infotech Ltd.</td>
          </tr>
          <tr align="center" height="10%" style="background-color:red; color:#fff;">
              <td colspan="3" style="font-size:40px; font-weight:bold;">Welcome to Bhilwara Infotech Ltd.</td>
          </tr>
          <tr width="100%" height="70%">
              <td colspan="3">
                      
                             <img class="mySlides" src="bhi1.jpg" style="width:100%" height="180%">
                             <img class="mySlides" src="bhi2.jpg" style="width:100%" height="180%">
                             <img class="mySlides" src="bhi3.jpg" style="width:100%" height="160%">
                             <img class="mySlides" src="bhi4.jpg" style="width:100%" height="130%">
                           
                             <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                             <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                           
                           
                             <script>
                               var myIndex = 0;
                               carousel();
                               
                               function carousel() {
                                 var i;
                                 var x = document.getElementsByClassName("mySlides");
                                 for (i = 0; i < x.length; i++) {
                                   x[i].style.display = "none";  
                                 }
                                 myIndex++;
                                 if (myIndex > x.length) {myIndex = 1}    
                                 x[myIndex-1].style.display = "block";  
                                 setTimeout(carousel, 2000); // Change image every 2 seconds
                               }
                               </script>
             </td>
          </tr>
          <tr height="10%">
              <td width="15%"> Phone : 080 4288 6666</td>
              <td width="70%"> Location: Fortune Summit Business Park, No. 244, 1st Floor, 6th Sector, HSR Layout,<br> Silk Board Junction, Hosur Main Road, Bengaluru, Karnataka 560068</td>
              
              <td width="15%">Fax:+91-120-4277841 </td>
          </tr>
      </table>
 </body>
 </html>